{{bread-crumbs list="Administración|Mails Encolados"}}

{{filtro/de-estado-envio-de-mails mailsEncontrados=model }}

{{#if (not-null model)}}
  {{#if model}}
    <table class="striped bordered">
      <thead>
        <tr>
          <th>Ingreso</th>
          <th>E-Mail</th>
          <th>Plantilla</th>
          <th>Intentos</th>
          <th>Enviado</th>
          <th>Falló</th>
          <th>Reenviar</th>
        </tr>
      </thead>
      <tbody class="linkeable">
      {{#each model as |mail|}}
        <tr {{action "verDetalleDeMail" mail}}>
          <td>{{as-datetime mail.instanteDeIngreso}}</td>
          <td>{{mail.datosDelDestinatario.email}}</td>
          <td>{{mail.plantilla.nombre}}</td>
          <td>{{mail.intentos}}</td>
          <td>{{instante-de-envio instante=mail.instanteDeEnvio}}</td>
          <td>{{mail-fallido-label mensajeDeError=mail.mensajeDeError}}</td>
          <td>{{materialize/icon-component value='replay' click=(sin-burbujear (action "quiereReenviar" mail)) classNames="blue-text" title="reenviar"}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="row text-center">
      <em>No se encontraron mails pendientes</em>
    </div>
  {{/if}}
{{else}}
  <div class="row text-center">
    <em>Indique el criterio de busqueda</em>
  </div>
{{/if}}

<div id="detalleDeMail">
  {{outlet}}
</div>
