<div class="col s12" id="asignador-a-miembros">
  <div class="row msr-form">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">Miembros</span>

        {{filtro/de-miembros miembrosEncontrados=miembros }}

        <div class="row">
          <div class="col s12">
            {{#if (not-null miembros)}}
              {{#if miembros}}
                <table class="striped bordered">
                  <thead>
                  <tr>
                    <th>Seleccionar</th>
                    <th>Nombre</th>
                    <th>Fecha de nacimiento</th>
                    <th>Nivel</th>
                    <th>Stars</th>
                    <th>Bebida favorita</th>
                  </tr>
                  </thead>
                  <tbody class="linkeable">
                  {{#each miembros as |miembro|}}
                    <tr>
                      <td>{{tenpines/check-box value=miembro.seleccionado col="s3" valueEsNull=false}}</td>
                      <td>{{miembro.nombre}}</td>
                      <td>{{miembro.fechaDeNacimiento}}</td>
                      <td>{{nivel-label nivel=miembro.nivel}}</td>
                      <td>{{miembro.cantidadDeStarsEnElPeriodo}}</td>
                      <td>{{miembro.bebidaFavorita}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{else}}
                <div class="row text-center">
                  <em>No se encontraron miembros</em>
                </div>
              {{/if}}
            {{else}}
              <div class="row text-center">
                <em>Indique el criterio de busqueda</em>
              </div>
            {{/if}}
          </div>
        </div>

        {{mensaje-de-error texto=mensajeDeError}}

        <div class="row">
          <div class="col offset-s10 s2">
            {{tenpines/material-button label='Asignar' action='validar' col="s12"}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{{tenpines/modal-de-confirmacion
  open=mostrarModalDeConfirmacionDeEntregaAMiembros
  titulo='Asignar Vouchers'
  descripcion=descripcionModal
  accionAceptar=(action 'asignar')
}}
