<span hidden={{noHayDatosDeLaOperacion}} class="card-subtitle">Datos de la operación</span>
<div class="row">
  {{optional-label label='Instante en el que ocurrio' value=datosDeLaOperacion.instanteEnElQueOcurrio datetime=true col='s3'}}
  {{optional-label label='Origen de la operación' value=datosDeLaOperacion.origenDeLaOperacion col='s3'}}
  {{optional-label label='Total' value=datosDeLaOperacion.total currency=true col='s3'}}
  {{optional-label label='Modalidad de pago' value=datosDeLaOperacion.modalidadDePago col='s3'}}
  {{optional-label label='Codigo del modo de pago' value=datosDeLaOperacion.codigoDelModoDePago col='s3'}}
  {{optional-label label='Metodo de pago' value=datosDeLaOperacion.metodoDePago col='s3'}}
  {{optional-label label='Tarjeta contraparte' value=datosDeLaOperacion.numeroDeTarjetaContraparte col='s3'}}
  {{optional-label label='Saldo anterior de la tarjeta destino' value=datosDeLaOperacion.saldoAnteriorDeLaTarjetaDestino currency=true col='s3'}}
  {{optional-label label='Saldo posterior de la tarjeta destino' value=datosDeLaOperacion.saldoPosteriorDeLaTarjetaDestino currency=true col='s3'}}
  {{optional-label label='Cantidad de stars ganadas' value=datosDeLaOperacion.starsGanadas col='s3'}}
  {{optional-label label='Tienda' value=datosDeLaOperacion.nombreDeTienda col='s3'}}
  {{optional-label label='Número de Check' value=datosDeLaOperacion.numeroDeCheck col='s3'}}
  {{optional-label label='Número de POS' value=datosDeLaOperacion.numeroDePos col='s3'}}
  {{optional-label label='Metodo de lectura' value=datosDeLaOperacion.metodoDeLectura col='s3'}}
  {{optional-label label='Usuario' value=datosDeLaOperacion.usuario col='s3'}}
  {{optional-label label='Beneficio entregado' value=datosDeLaOperacion.beneficioEntregado col='s3'}}
  {{optional-label label='Regla de Beneficio' value=datosDeLaOperacion.nombreDelBeneficio col='s3'}}
  {{optional-label label='Tipo de Regla' value=datosDeLaOperacion.tipoDeBeneficio col='s3'}}
  {{optional-label label='Redimible entregado' value=datosDeLaOperacion.redimibleEntregado col='s3'}}
  {{optional-label label='Tiempo de validez' value=datosDeLaOperacion.tiempoDeValidezDelVoucherEntregado col='s3'}}
  {{optional-label label='Motivo' value=datosDeLaOperacion.motivo col='s12'}}
  {{optional-label label='ID - Sistema de control de fraude' value=datosDeLaOperacion.idEnControlDeFraude col='s12'}}
</div>
