<span hidden={{noHayDatosDelRolEditado}} class="card-subtitle">{{titulin}}</span>
<div class="row">
  {{optional-label label='Nombre Anterior' value=datosDelRolEditado.nombreAnteriorDelRol col='s12'}}
</div>
<div class="row">
  {{optional-label label='Nombre Posterior' value=datosDelRolEditado.nombrePosteriorDelRol col='s12'}}
</div>
<div class="row">
  {{optional-label label='Permisos Anteriores' value=datosDelRolEditado.permisosAnterioresDelRol col='s12'}}
</div>
<div class="row">
  {{optional-label label='Permisos Posteriores' value=datosDelRolEditado.permisosPosterioresDelRol col='s12'}}
</div>
