<span hidden={{noHayDatosDelUsuarioEditado}} class="card-subtitle">{{titulin}}</span>
<div class="row">
  {{optional-label label='Login Id Anterior' value=datosDelUsuarioEditado.loginIdAnteriorDelUsuario col='s3'}}
  {{optional-label label='Login Id Posterior' value=datosDelUsuarioEditado.loginIdPosteriorDelUsuario col='s3'}}
  {{optional-label label='Nombre Anterior' value=datosDelUsuarioEditado.nombreAnteriorDelUsuario col='s3'}}
  {{optional-label label='Nombre Posterior' value=datosDelUsuarioEditado.nombrePosteriorDelUsuario col='s3'}}
  {{optional-label label='Grupo Anterior' value=datosDelUsuarioEditado.grupoAnteriorDelUsuario col='s3'}}
  {{optional-label label='Grupo Posterior' value=datosDelUsuarioEditado.grupoPosteriorDelUsuario col='s3'}}
</div>