<span hidden={{noHayDatosDelGrupoEditado}} class="card-subtitle">{{titulin}}</span>
<div class="row">
  {{optional-label label='Nombre Anterior' value=datosDelGrupoEditado.nombreAnteriorDelGrupo col='s12'}}
</div>
<div class="row">
  {{optional-label label='Nombre Posterior' value=datosDelGrupoEditado.nombrePosteriorDelGrupo col='s12'}}
</div>
<div class="row">
  {{optional-label label='Roles Anteriores' value=datosDelGrupoEditado.rolesAnterioresDelGrupo col='s12'}}
</div>
<div class="row">
  {{optional-label label='Roles Posteriores' value=datosDelGrupoEditado.rolesPosterioresDelGrupo col='s12'}}
</div>
