<div class="row msr-form">
  <div class="card darken-1">
    <div class="card-content">
      <span class="card-title">Segmento #{{model.id}}</span>
      <div class="row">
        {{tenpines/labeled-label label='Nombre' value=model.segmento.nombre col='s12'}}
      </div>
      <div class="row">
        {{tenpines/labeled-label label='Cantidad de miembros' value=model.segmento.cantidadDeMiembros col='s12'}}
      </div>
      <div class="card-action">
        <div class="row">
          {{tenpines/material-button label="Ver miembros" action='busquedaNueva' col='s3'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    {{#if model.miembros}}
      <table class="striped bordered">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Stars</th>
        </tr>
        </thead>
        <tbody class="linkeable">
        {{#each model.miembros as |miembro|}}
          <tr>
            <td>{{miembro.nombre}}</td>
            <td>{{nivel-label nivel=miembro.nivel}}</td>
            <td>{{miembro.cantidadDeStarsEnElPeriodo}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>

{{paginado/barra-de-paginado datosDePaginado=datosDePaginado accionDeBusqueda=(action "buscarPagina")}}