<a class="dropdown-button" data-activates="{{name}}-dropdown">
  {{title}} {{materialize/icon-helper 'arrow_drop_down' 'right' }}
</a>
<ul id="{{name}}-dropdown" class="dropdown-content">
  {{yield}}
</ul>
