<div class="row msr-form">
  <div class="card darken-1">
    {{#form-validable configurarCon=opcionesDeValidacion alValidarCorrectamente=(action 'guardarTienda') as |validar|}}
      <div class="card-content">
        <span class="card-title">Editar</span>
        <div class="row">
          {{tenpines/input-text name="nombre" value=model.nombre required=true label="Nombre" col="s4" }}
          {{tenpines/input-text name="ip" value=model.ip required=true label="Ip" col="s3" }}
          {{tenpines/input-text name="codigo" value=model.codigo required=true label="Codigo tienda" col="s2" }}
          {{tenpines/input-text name="centrodecosto" value=model.centroDeCosto required=true label="Centro de costo" col="s3" }}
        </div>
        {{#if model.poses}}
          <div class="row">
            <h6>Versiones de pos (identificadas por numero)</h6>
            {{#each model.poses as |pos|}}
              {{tenpines/labeled-label label=pos.numero value=(guion-si-es-nulo pos.version) col='s1'}}
            {{/each}}
          </div>
        {{/if}}
      </div>
      <div class="card-action">
        {{tenpines/material-button label='Guardar' click=(action validar) }}
      {{#if puedeBorrarTiendas}}
        {{tenpines/material-button label='Borrar' action='borrarTienda' }}
      {{/if}}
      </div>
    {{/form-validable}}
  </div>
</div>
