<div class="row msr-form">
  <div class="card darken-1">
    <div class="card-content">
      <span class="card-title">Operacion #{{model.id}} - {{model.tipoDeOperacion}}</span>
      <hr/>
      {{operaciones/datos-de-la-tarjeta datosDeLaTarjeta=model}}
      {{operaciones/datos-del-miembro datosDelMiembro=model}}
      {{operaciones/datos-de-la-operacion datosDeLaOperacion=model}}
      {{operaciones/datos-del-perfil-de-autorecarga perfilDeAutorecarga=model}}
      {{operaciones/datos-de-productos model=model}}
      {{operaciones/datos-de-voucher model=model}}
      {{operaciones/datos-de-la-entrega-a-un-segmento model=model}}
      {{operaciones/datos-del-usuario-editado datosDelUsuarioEditado=model}}
      {{operaciones/datos-del-rol-editado datosDelRolEditado=model}}
      {{operaciones/datos-del-grupo-editado datosDelGrupoEditado=model}}
      {{operaciones/datos-del-recibo-x datosDelReciboX=model}}
      {{operaciones/mensaje-de-error mensajeDeError=model.mensajeDeError}}
    </div>
  </div>
</div>
