{{bread-crumbs list="Auditoría|Recargar tarjetas"}}

{{filtro/de-tarjetas tarjetas=model }}

<div class="row">
  <div class="col s12">
    {{#if (not-null model)}}
      {{#if model}}
        <table class="striped bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Numero</th>
            <th>Saldo</th>
            <th>Habilitacion</th>
            <th>Vencimiento</th>
            <th>Ultima Recarga</th>
            <th>Recargar</th>
          </tr>
          </thead>
          <tbody>
          {{#each model as |tarjeta|}}
            <tr>
              <td>{{tarjeta.id}}</td>
              <td>{{tarjeta.tipo.nombre}}</td>
              <td>{{tarjeta.numero}}</td>
              <td>{{as-currency tarjeta.saldo}}</td>
              <td>{{estado-tarjeta-label estado=tarjeta.estado}}</td>
              <td>{{vencimiento-tarjeta-label tarjeta=tarjeta}}</td>
              <td>{{as-datetime tarjeta.instanteDeLaUltimaRecarga}}</td>
              <td class="linkeable">{{materialize/icon-component value='payment' click=(sin-burbujear (action "recargar" tarjeta)) }}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <div class="row text-center">
          <em>No se encontraron tarjetas</em>
        </div>
      {{/if}}
    {{else}}
      <div class="row text-center">
        <em>Indique el criterio de busqueda</em>
      </div>
    {{/if}}
  </div>
</div>

<div id="recargarTarjetas">
  {{outlet}}
</div>
